
/*---media query para tablet a partir de los 760px---*/
@media (min-width: 760px) {

    /*------ INICIO MENU NAV------*/
    /*contenedor principal*/
    .navbar {
        display: flex;
        justify-content: space-between; /* lleva el menu justificado a la derecha*/
    }

    /*ocultar botone*/
    .navbar-menu-mobile {
        display: none;
    }

    /*cambia altura menubar-container*/
    .navbar-container {
        height: auto; /*se ajusta a su contenido*/
        flex-direction: row; /*para cambiar el menu de columna a fila*/
        position: static; /*saca la posicion absoluta del mobile first*/
        width: 65%; /*achica tamaño menubar*/
    }

    /*tamaño logo*/
    .brand-link img{
        margin: 1px;
        padding-left: 100px;
        width: 300px;
        max-height: 100%;
        max-width: 100%;
    }
    /*------ FIN MENU NAV------*/
    .imagenes{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 6px;
        width: 75%;
        margin: auto;
    }




    /*---INICIO index----*/
    .fondo {
        height: 500px;
    
    }
    .fondo img{
        width: 50%;
    }
    .texto-bg p {
        margin: 20px 90px;
        font-size: 25px;
    }    
    /*---FIN index----*/
 


    



    /*----INICO Contacto ---*/
    .whatsappLink.mobile {
        display: none;
    }
    .whatsappLink.desktop{
        display: inline;
    }
    /*----FIN Contacto ---*/

}
/*---FIN media query para tablet a partir de los 760px---*/